---
import Layout from "../layouts/Layout.astro";

// componentes
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AboutUs from "../components/AboutUs.astro";
import Home from "../components/Home.astro";
import Divider from "../components/Divider.astro";
import Services from "../components/Services.astro";
import Workflow from "../components/Workflow.astro";
import Works from "../components/Works.astro";
import Contact from "../components/Contact.astro";

const path = Astro.url.pathname;

let lang = "ES";

if (path.startsWith("/en")) lang = "EN";
if (path.startsWith("/ru")) lang = "RU";

const seo = {
  ES: {
    title: "Serranos - Clinica Dental",
    description:
      "Clínica dental en Valencia: Expertos en cuidar tu sonrisa. Ofrecemos servicios de limpieza, blanqueamiento, ortodoncia, implantes y alineadores.",
  },

  EN: {
    title: "Serranos - Dental Clinic",
    description:
      "Dental clinic in Valencia: Experts in caring for your smile. We offer dental cleaning, teeth whitening, orthodontics, implants and aligners.",
  },

  RU: {
    title: "Serranos - Стоматологическая клиника",
    description:
      "Стоматологическая клиника в Валенсии: эксперты по уходу за вашей улыбкой. Мы предлагаем чистку зубов, отбеливание, ортодонтию, импланты и элайнеры.",
  },
};

const t = seo[lang] ?? seo.ES;
---

<Layout lang={lang} title={t.title} description={t.description}>
  <main>
    <Header lang={lang} />

    <main>
      <Home lang={lang} />

      <AboutUs lang={lang} />

      <Divider lang={lang} />

      <Services lang={lang} />

      <Workflow lang={lang} />

      <Works lang={lang} />

      <Contact lang={lang} />
    </main>
  </main>

  <Footer lang={lang} />
</Layout>
