---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Title from "../components/Title.astro";
import Anchord from "../components/Anchord.astro";
// fotos de servicios
import carillas from "../assets/carillas.jpg";
import alineadores from "../assets/alineadores.jpg";
import implantes from "../assets/implantes.jpg";
import rehabilitacion from "../assets/rehabilitacion.jpg";
import blanqueamiento from "../assets/blanqueamiento.jpg";
import composite from "../assets/composite.jpg";

import ServiceCard from "../components/ServiceCard.astro";
import Slider from "../components/Slider.astro";
import ProceduresSlider from "../components/ProceduresSlider.astro";
---

<Layout
  lang="EN"
  description="Dental clinic in Valencia: Experts in oral care. We offer cleaning, whitening, orthodontics, and dental implants services. Schedule your appointment today!"
  title="Serranos - Dental Clinic"
>
  <main>
    <Header lang="EN" />
    <main>
      <!-- HOME -->
      <section id="home" class="min-h-screen pb-[50px]">
        <div
          class="min-h-screen relative flex flex-column justify-center items-end home-div"
        >
          <div
            class="flex flex-col bg-white/90 absolute bottom-[-100px] rounded-sm md:rounded-lg py-10 items-center text-center"
          >
            <Title title="Smile with Confidence!" />
            <p class="px-8 md:max-w-[800px] pt-5">
              In our dental clinic, we offer personalized care to keep your
              teeth healthy and your smile radiant.
            </p>
            <nav class="flex flex-col gap-1 mt-8">
              <Anchord
                text="Contact us"
                variant="primary"
                href="https://wa.me/message/R5MXKI5CQE23F1"
              />
              <Anchord
                text="Learn more"
                variant="secondary"
                blank={false}
                href="#servicios"
              />
            </nav>
          </div>
        </div>
      </section>
      <!-- SOBRE NOSOTROS - ABOUT US -->
      <section
        id="about"
        class="flex flex-col mt-[100px] items-center text-center pb-[120px]"
      >
        <Title title="About us" />
        <p class="px-10 mt-10 text-center max-w-[700px]">
          In <span class="font-medium">Clinica Serranos</span> we are your destination
          for a healthy and radiant smile. With a professional team and advanced
          technology, we offer you high-quality dental care and a welcoming environment
        </p>

        <p class="px-10 mt-5 text-center mb-10 max-w-[700px]">
          From <span class="font-medium"
            >cleanings to specialized treatments,</span
          > we are here to take care of you. Trust Clinica Serranos to achieve your
          best smile.
        </p>
        <Slider />
      </section>
      <!-- DIVIDER -->
      <section class="bg-cover bg-center bg-[url('/sonrisa.jpg')]">
        <div
          class="flex flex-col gap-2 py-8 md:py-14 text-white items-center justify-center bg-[#0C1F2D]/70"
        >
          <h2 class="font-bold text-2xl">A smile</h2>
          <p>It's the prettiest thing you can wear.</p>
          <span class="font-bold text-3xl rotate-90">:)</span>
        </div>
      </section>
      <!-- SERVICIOS - SERVICES -->
      <section
        id="servicios"
        class="pt-[100px] flex flex-col items-center pb-[6rem]"
      >
        <Title title="Our services" />

        <p class="text-center px-8 py-5 md:max-w-[800px]">
          In our dental clinic, we take pride in offering personalized dental
          care, designed to keep your teeth in optimal condition and your smile
          bright at all times.
        </p>
        <!-- TARJETAS DE SERVICIOS -->
        <div
          class="flex flex-wrap gap-3 justify-center max-w-[1024px] items-center"
        >
          <ServiceCard
            photo={carillas}
            title="Ceramic Veneers"
            description="Transform your smile into a masterpiece! Our high-quality ceramic veneers conceal flaws such as stains, fractures, and misalignments, giving your teeth an impeccable appearance worthy of a movie star."
          />
          <ServiceCard
            photo={alineadores}
            extraClasses={"object-top"}
            title="Dental Aligners"
            description="Our transparent dental aligners discreetly and comfortably straighten your teeth, without the need for annoying metal brackets."
          />
          <ServiceCard
            photo={implantes}
            title="Dental Implants"
            description="With our dental implants, you can say goodbye to empty spaces and enjoy a perfect, functional smile that will restore your confidence."
          />
          <ServiceCard
            photo={composite}
            title="Composite"
            description="Our composite service in orthodontics offers the repair of damaged teeth and the reconstruction of dental structures lost due to cavities or fractures. We restore the functionality and aesthetics of your smile!"
          />
          <ServiceCard
            photo={rehabilitacion}
            title="Adhesive Rehabilitation"
            description="Restore the beauty and functionality of your teeth quickly and without complications! With our adhesive rehabilitation, your teeth will regain their natural shape and color, and you'll be ready to shine on any occasion!"
          />
          <ServiceCard
            photo={blanqueamiento}
            title="Teeth Whitening"
            description="Our teeth whitening treatment removes stains and discoloration, leaving your teeth with a dazzling white and a radiant smile that will make you stand out anywhere."
          />
        </div>
      </section>
      <!-- FLUJO DE TRABAJO - WORKFLOW -->
      <section
        id="work-flow"
        class="bg-[url('/trabajo-precision.jpg')] text-center bg-cover bg-center m-0"
      >
        <div class="bg-[#273047]/70 w-full h-[70px]"></div>
        <div
          class="text-center flex flex-col text-white gap-10 py-16 md:py-20 bg-black/70"
        >
          <h3 class="font-medium text-2xl">100% Digital Workflow</h3>
          <p class="px-10 md:max-w-[550px] mx-auto">
            Experience our innovative fully digital workflow at our dental
            clinic.
          </p>
          <p class="px-10 font-medium md:max-w-[550px] mx-auto">
            Your dream smile made real with cutting-edge technology.
          </p>
          <div class="bg-[#273047]/70 w-full py-4 text-white">
            <p class="uppercase md:text-xl">Your smile design</p>
            <span class="font-bold uppercase md:text-xl">ready in one day</span>
          </div>
        </div>
      </section>
      <!-- WORK EXAMPLES -->
      <section
        id="work-examples"
        class="flex flex-col text-white bg-[var(--secondary-color)] pt-14 items-center"
      >
        <Title
          lightMode={true}
          extraClasses="p-10"
          title="We show you results from our patients"
        />
        <p class="text-center pb-10 px-10 max-w-[650px]">
          At Clínica Dental Serrano, we study each case individually, with the
          aim of achieving the best results in each treatment.
        </p>
        <ProceduresSlider lang="EN" />
        <div
          class="h-[40vh] mb-10 flex text-center items-center justify-center flex-col"
        >
          <p class="text-xl font-bold">Do you want to see more results?</p>
          <a
            href="https://www.instagram.com/clinicadentalserranos/"
            class="rounded-full border-white border-2 mt-5 py-2 px-3 text-center uppercase"
            >Follow us on Instagram</a
          >
        </div>
        <div
          class="w-full bg-[url('/dentista-trabajando.jpg')] first-visit bg-cover"
        >
          <div
            class="py-14 md:py-20 w-full flex text-center items-center justify-center flex-col bg-black/50"
          >
            <h2 class="font-bold text-white text-2xl px-12">
              First visit and diagnosis at no cost
            </h2>
            <a
              href="https://wa.me/message/R5MXKI5CQE23F1"
              target="_blank"
              class="rounded-full text-white bg-[var(--secondary-color)] uppercase font-medium px-12 my-7 py-2"
              >CONTACT US</a
            >
            <span class="font-bold text-4xl rotate-90 text-white">:)</span>
          </div>
        </div>
      </section>
      <!-- CONTACTO -->
      <section id="contacto" class="pt-20">
        <Title extraClasses="mb-10 px-10" title="What are you wating for?" />
        <p class="text-center mb-5 px-10 md:max-w-[600px] mx-auto">
          Don't let fear or indecision stop you from achieving the smile you've
          always desired.
        </p>
        <p class="font-bold text-md text-center px-10 md:max-w-[700px] mx-auto">
          Contact us today to schedule a consultation and take the first step
          towards a healthier and more beautiful smile!
        </p>

        <div class="flex justify-center mt-10 px-10">
          <a
            href="https://www.instagram.com/clinicadentalserranos/"
            class="fa-brands fa-instagram text-[var(--main-color)] mr-4 text-5xl"
          ></a>
          <a
            href="https://wa.me/message/R5MXKI5CQE23F1"
            target="_blank"
            class="fa-brands fa-whatsapp text-[var(--main-color)] text-5xl"></a>
        </div>
        <div class="bg-[var(--main-color)] h-full pb-20 rounded-t-[25px]">
          <div
            class="h-[330px] md:h-[500px] overflow-hidden rounded-[25px] bg-gray-600 mt-20 flex justify-center items-center"
          >
            <iframe
              class="h-full w-screen"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12317.774512279668!2d-0.3752216!3d39.4818962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604895ea631a8d%3A0x6358d0e1dcd9f492!2sCl%C3%ADnica%20Dental%20Serranos!5e0!3m2!1ses!2sar!4v1713497921283!5m2!1ses!2sar"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>
    </main>
  </main>
</Layout>

<style>
  .home-div {
    background-image: url("/home.jpg");
    background-size: cover;
    background-position: center;
  }
  .first-visit {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 -150px;
  }
  @media (min-width: 550px) {
    .first-visit {
      background-position: 0 -670px;
    }
  }
</style>
