---
const { lang } = Astro.props;

const header_data = {
  ES: {
    flag: "/sp-flag.webp",
    flag_alt: "espanol",
    switch_lang: {
      text: "English",
      href: "/en",
      flag: "/us-flag.png",
      alt: "english",
    },
    anchors: [
      { text: "Home", href: "#home" },
      { text: "Sobre nosotros", href: "#about" },
      { text: "Servicios", href: "#servicios" },
      { text: "Contacto", href: "#contacto" },
    ],
  },

  EN: {
    flag: "/us-flag.png",
    flag_alt: "english",
    switch_lang: {
      text: "Español",
      href: "/",
      flag: "/sp-flag.webp",
      alt: "espanol",
    },
    anchors: [
      { text: "Home", href: "#home" },
      { text: "About us", href: "#about" },
      { text: "Services", href: "#servicios" },
      { text: "Contact us", href: "#contacto" },
    ],
  },

  RU: {
    flag: "/ru-flag.png",
    flag_alt: "russian",
    switch_lang: {
      text: "Español",
      href: "/",
      flag: "/sp-flag.webp",
      alt: "espanol",
    },
    anchors: [
      { text: "Главная", href: "#home" },
      { text: "О нас", href: "#about" },
      { text: "Услуги", href: "#servicios" },
      { text: "Контакт", href: "#contacto" },
    ],
  },
};

const data = header_data[lang] ?? header_data.ES;
---

<header
  class="p-5 shadow-md fixed top-0 z-10 w-full bg-white/90 flex justify-between items-center flex-wrap"
>
  <h1 class="text-xl">Clinica Dental Serranos</h1>

  <div class="md:hidden">
    <i
      id="showMenuBtn"
      class="text-[var(--main-color)] text-xl fa-solid fa-bars"></i>
  </div>

  <nav id="headerNavbar" class="md:block w-full md:w-fit hidden">
    <ul
      class="flex flex-col items-center mt-5 md:mt-0 px-2 gap-3 py-3 md:flex-row"
    >
      {
        data.anchors.map((anchor) => (
          <li>
            <a href={anchor.href}>{anchor.text}</a>
          </li>
        ))
      }

      <li id="lang-button" class="h-[30px] cursor-pointer">
        <img
          src={data.flag}
          class="h-[30px] w-[35px] inline-block object-cover"
          alt={data.flag_alt}
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-down-fill inline-block"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
          ></path>
        </svg>

        <ul id="lang-list" class="bg-white shadow-sm hidden rounded-sm">
          <li>
            <a
              class="flex text-xs items-center p-[2px]"
              href={data.switch_lang.href}
            >
              <img
                src={data.switch_lang.flag}
                class="h-[30px] mr-1 w-[30px] object-cover"
                alt={data.switch_lang.alt}
              />
              {data.switch_lang.text}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<script>
  const showMenuBtn = document.getElementById("showMenuBtn");
  showMenuBtn.addEventListener("click", () =>
    document.getElementById("headerNavbar").classList.toggle("hidden"),
  );
  const langButton = document.getElementById("lang-button");
  langButton.addEventListener("click", () =>
    document.getElementById("lang-list").classList.toggle("hidden"),
  );
</script>
