---
import { Image } from "astro:assets";
const {
  title,
  description,
  photo,
  extraClasses,
  extraLink = null,
} = Astro.props;
---

<div
  class="flex items-center text-white md:min-h-[600px] flex-col mt-10 rounded-md bg-[var(--secondary-color)] max-w-[320px] overflow-hidden"
>
  <Image
    class=`w-full h-[270px] object-cover ${extraClasses}`
    src={photo}
    alt="Procedimiento dental"
  />
  <div class="pt-3 pb-10 flex flex-col items-center">
    <h3 class="uppercase text-center font-medium pt-7 pb-5">{title}</h3>
    <p class="text-center max-w-[320px] px-5">{description}</p>
    {
      extraLink && (
        <a
          href={extraLink.href}
          class=" px-2 py-1 mt-5 rounded-sm text-center bg-white text-[var(--main-color)]"
        >
          {extraLink.text}
        </a>
      )
    }
  </div>
</div>
