---
import { Image } from "astro:assets";
import Star from "../assets/star-svgrepo-com.svg";
import solange from "../assets/solange.png";
import marcela from "../assets/marcela.png";
import agustina from "../assets/agustina.png";
import anabella from "../assets/anabella.png";
import carito from "../assets/carito.png";
import pablo from "../assets/pablo.png";
---

<!-- Swiper -->
<div class="swiper mySwiperReview">
  <div class="swiper-wrapper mb-20">
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image
            src={solange}
            class="mr-3 w-[50px]"
            alt="foto de solange franco"
          />
          <div>
            <p class="font-medium">Solange Franco</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "Mi experiencia en la Clínica Dental Serranos fue Excelente. Desde el
          momento cero me trataron muy bien, el ambiente es muy agradable y
          cómodo. El el Dr.Alejandro fue extremadamente profesional, amable y
          atento a cada detalle. Muchas gracias"
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image src={marcela} class="mr-3 w-[50px]" alt="foto de marcela" />
          <div>
            <p class="font-medium">Marcela Gerbaudo</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "El lugar es muy agradable, con detalles especiales que hacen que la
          visita sea más amena. La atención tanto de Alejandro como la de los
          demás chicos más que personalizada yo diría que es muy familiar tanto
          en consulta como en seguimiento telefónico."
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image src={agustina} class="mr-3 w-[50px]" alt="foto de agustina" />
          <div>
            <p class="font-medium">Agustina Mereb Fahey</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "¡Muy buena experiencia en esta Clínica Dental Serranos! Me encanta su
          enfoque integral, que ofrecen una amplia gama de tratamientos y
          cuidados para toda la familia. Además, su ubicación es perfecta y es
          muy fácil llegar. Y la atención al paciente es excepcional."
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image src={anabella} class="mr-3 w-[50px]" alt="foto de anabella" />
          <div>
            <p class="font-medium">Anabella Giacomozzi</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "Excelente atención y servicio! He recomendado esta clinica a amigos y
          la seguire recomendando. La relación calidad-precio es inmejorable! El
          Dr. Cordero es muy paciente y me ha explicado todo al detalle, estoy
          muy conforme con el tratamiento."
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image src={carito} class="mr-3 w-[50px]" alt="foto de carito paus" />
          <div>
            <p class="font-medium">Carito Paus</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "Gracias chicos por la buena onda y atención personaliza y profesional
          . Me resolvieron un tema estético y urgente súper importante para mi.
          Reemplazando unas carillas dentales. Quede muy conforme . Los
          recomiendo 100%. Gracias !"
        </p>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="bg-white rounded text-black py-10 gap-2 px-5 flex flex-col">
        <div class="flex items-center">
          <Image src={pablo} class="mr-3 w-[50px]" alt="foto de pablo" />
          <div>
            <p class="font-medium">Pablo Gamez</p>
            <div class="flex mb-2 w-fit">
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
              <Image src={Star} alt="puntuacion" class="w-[15px]" />
            </div>
          </div>
        </div>
        <p class="italic text-sm mt-2">
          "Gracias chicos por lo profesionales que son para trabajar! Pudieron
          solucionar mi caso super rápido y quedó mejor de lo que esperaba.
          Espero cuanto antes comenzar con mi tratamiento de invisibles también.
          Los recomiendo 100%"
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  //this error should be ignored, its a editor thing
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  var swiper = new Swiper(".mySwiperReview", {
    slidesPerView: 1,
    spaceBetween: 5,
    pagination: {
      el: ".swiper-pagination",
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    breakpoints: {
      525: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      767: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
  });
</script>
<style>
  @import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
  div.swiper {
    cursor: grab;
    margin-top: 30px;
    height: 100%;
    background: transparent;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
  }
</style>
