---
import { Image } from "astro:assets";
import slider1 from "../assets/silla-clinica.jpg";
import slider2 from "../assets/sobre-nosotros.jpg";
import slider3 from "../assets/trabajo-precision.jpg";
import slider4 from "../assets/sala-de-espera.jpg";
import slider5 from "../assets/alineadores-slider.jpg";
import slider6 from "../assets/maquetas-dentales.jpg";
import slider7 from "../../public/home.jpg";
---

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <Image alt="Silla de dentista moderna" src={slider1} />
    </div>
    <div class="swiper-slide">
      <Image alt="Equipo de odontologos" src={slider2} />
    </div>
    <div class="swiper-slide">
      <Image alt="Odontologo en trabajo de precision" src={slider3} />
    </div>
    <div class="swiper-slide">
      <Image alt="Silla sala de espera" src={slider4} />
    </div>
    <div class="swiper-slide">
      <Image alt="Pasillo de la clinica dental" src={slider7} />
    </div>
    <div class="swiper-slide">
      <Image alt="Alineadores dentales" src={slider5} />
    </div>
    <div class="swiper-slide">
      <Image class="object-bottom" alt="Maquetas dentales" src={slider6} />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Initialize Swiper -->
<script>
  //this error should be ignored, its a editor thing
  import Swiper from "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs";

  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      767: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
<style>
  @import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
  div.swiper {
    cursor: grab;
    margin-top: 70px;
    height: 100%;
    background: transparent;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: black;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
